<div class="card">
    <div class="card-header">
        <h3><a href="/api/comment/{{id}}">{{title}}</a></h3>
        <p>Posted by {{user.username}} on {{date}}<a href="/api/comment/{{id}}" value="{{id}}"><button class="btn add-comment" value="{{id}}" >Add Comment</button></a></p>
    </div>
    <div class="description">
        {{description}}
    </div>
    {{#if comments.length}}
    <div>
        <h2 class="comments">Comments</h2>
        <div>
            {{#each comments as |comment|}}
            {{> comments-details}}
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>