<div class="card">
    <div class="card-header">
        <h3>{{title}}</h3>
        <p>Posted by {{user.username}} on {{date}}<button id="delete" class="delete-btn" value="{{id}}"><i class="fa fa-trash-o" style="font-size:24px;color:red;"></i></button></p>
    </div>
    <div class="description">
        {{description}}
    </div>
</div>

<script src="js/dashboard.js"></script>