<div class="card">
    <div class="card-header">
        <h3>{{title}}</h3>
        <p>Posted by {{user.username}} on {{date}}<button class="btn delete" value="{{id}}">Delete</button></p>
    </div>
    <div class="description">
        {{description}}
    </div>
</div>
